{% extends 'base.html.twig' %}
{% block body %}
<hr>
<center>
    <p><a href="{{path('new_post')}}" class="btn btn-primary btn-lg btn-block">Add a post</a></p><hr>
    <p><a href="{{path('my_posts')}}" class="btn btn-secondary btn-lg btn-block">My posts</a></p><hr>
    <p><a href="{{path('delete_account')}}" class="btn btn-success btn-lg btn-block">Delete my account</a></p><hr>
    <p><a href="{{path('data_edit', {'id' : app.user.id})}}" class="btn btn-info btn-lg btn-block">Change my data</a></p><hr>
    <p><a href="{{path('new_category')}}" class="btn btn-warning btn-lg btn-block">FAQ</a></p><hr>
    <p><a href="{{path('home')}}" class="btn btn-danger btn-lg btn-block">Contact</a></p><hr>
</center>
{% endblock %}