{% extends 'base.html.twig' %}

{% block body %}
    <article class="jumbotron">
        <h2 class="display-3"> post n{{annonce.id}}</h2>
        <h3 class="display-3">{{annonce.user.name}}, {{annonce.user.age}} ans</h3>
        <p class ="lead">
            <ul>
                <li>email : {{annonce.user.email}}</li>
                <li>phone number : {{annonce.user.phoneNumber}}</li>
            </ul>
        </p>
        <hr class="my-4">
        <div class ="metadata">
            Writed down on {{annonce.createdAt | date('d/m/Y')}}
            and at {{annonce.createdAt | date('H:i')}}
        </div>
        <div class ="content">
            <img src="http://placehold.it/350x150">
            <p>{{annonce.content}}</p>
            <a href="{{ path('Annonce')}}" class="btn btn-primary">Return</a>
        </div>
    </article>
{% endblock %}