{% extends 'base.html.twig' %}

{% block body %}
 <div class="card border-light mb-3">
    <h3 class="card-header"> annonce n°{{annonce.id}}</h3>
    <div class="card-body">
        <h4 class="card-title">{{annonce.user.name}} {{annonce.user.surname}}, {{annonce.user.age}} ans</h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">email : {{annonce.user.email}}</li>
            <li class="list-group-item">phone number : {{annonce.user.phoneNumber}}</li>
        </ul>
    </div>
    <hr class="my-4">
    <div class ="card-body">
        <p>{{annonce.content}}</p>
        <a href="{{ path('Annonce')}}" class="btn btn-primary">Return</a>
    </div>
    <div class ="card-footer text-muted">
        Writed down on {{annonce.createdAt | date('d/m/Y')}}
        and at {{annonce.createdAt | date('H:i')}}
    </div>
</div>
{% endblock %}